@import './base.css';

* {
    font-family: "JetBrains Mono", monospace;
}


.color-a {
    color: #0d051c;
}
.color-b {
    color: #1d0b3a;
}
.color-c {
    color: #100428;
}
.color-d {
    color: #670416;
}
.color-e {
     color: #ffffff;
}

.background-color-a {
    background-color: #21094a;
}
.background-color-b {
    background-color: #492A82;
}
.background-color-c {
    background-color: #000928;
}
.background-color-d {
    background-color: #9d83f2;
}
.background-color-e {
    background-color: #926CD6;
}