@import './base.css';

* {
    font-family: "JetBrains Mono", monospace;
}


.color-a {
    color: #4811AE;
}
.color-b {
    color: #492A82;
}
.color-c {
    color: #2C0571;
}
.color-d {
    color: #7945D6;
}
.color-e {
     color: #926CD6;
}

.background-color-a {
    background-color: #4811AE;
}
.background-color-b {
    background-color: #492A82;
}
.background-color-c {
    background-color: #2C0571;
}
.background-color-d {
    background-color: #7945D6;
}
.background-color-e {
    background-color: #926CD6;
}